#content{
    margin-left: 6%;
}

.text-hello > p:first-child{
    font-size: 36px;
    margin-bottom: 0px;
}
.text-hello{
    margin-top: 5%;
    margin-bottom: 2%;
}

.text p:first-child{
    font-size: 30px;
}

/*----------Sile----------*/
* {box-sizing:border-box}
body {font-family: Helvetica,sans-serif;margin:0}

/* Slideshow container */
.slideshow-container {
    width: 107%;
    position: relative;
    margin-left: -7%;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    padding: 1px 10px 1px 10px;
    margin: 0% 3% 0% 3%;
    color: white;
    font-size: 18px;
    transition: 0.6s ease;
    border: 2px solid white;
    border-radius: 100%;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    margin-top: 22px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    border-color: black;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    top:24%;
    left: 6%;
    bottom: 8px;
    width: 40%;
    text-align: left;
}

/* The dots/bullets/indicators */
.position-dot{
    position: absolute;
    top:60%;
    left: 7%;
}

.dot {
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

 .active-1,.dot:hover {
    background-color: #4daed8;
    border: 3px solid white;
    width: 16px;
    height: 16px;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .slprev, .slnext,.text {font-size: 11px}
}

/*------end slide------*/
#object-human{
    margin-top: -6%;
    width: 100%;
    height: 100%;
    position: relative;
}

#object-human img{
    width: 23%;
    margin-left: 0.25%;
    margin-right: 0.25%;
}

#object-human p{
    text-align: center;
    text-decoration: underline;
}

#reason-box{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4%;
}

#reason-box table{
    margin-top: 3%;
    width: 100%;
}

#reason-box > p{
    text-align: center;
    font-size: 36px;
    font-family: Helvetica;
    font-weight: lighter;
}

#reason-box > img{
    margin-left: 40%;
}

#reason-box td{
    padding-right: 1.5%;
    padding-left: 1.5%;
    width: 25%;
}

.img-reason{
    text-align: center;
    padding-bottom: 2%;
}

.title-reason{
    text-align: center;
    font-weight: bold;
}

.content-reason{
    text-align: justify;
}
