@import url("https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,vietnamese");
#fee-page{
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.fee-img img{
	width: 100%;
	height: 220px;
}

#table-fee{
    border-top: 15px solid #0099ff;
    width: 111%;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 10px 10px 10px #cccccc;
    -webkit-box-shadow: 0px 8px 8px 8px #cccccc;
    position: relative;
    margin-top: -88%;
    background: white;
}

#table-fee div:first-child p{
    font-weight: bold;
    font-size: 18px;
    margin-top: 5%;
    margin-bottom: 0px;
}

#table-fee div:first-child img{
    float: left;
    margin-left: 10%;
}

.certificate-fee tr{
    border-bottom: 1px solid #c9c9c9;
    height: 50px;
}

.certificate-fee td td a{
    text-decoration: none;
    font-size: 28px;
}

.certificate-fee tr td a:hover{
    color: #3399ff;
    text-decoration: none;
}
#block1-fee{
    background: #f6f7f8;
    display: inline-block;
}

.introduce-fee div:first-child{
	font-family: 'Open Sans', sans-serif;
	color: #3399ff;
	font-size: 35px;
}

.introduce-fee div:nth-child(3){
	font-family: 'Open Sans', sans-serif;
	color: #333333;
	font-size: 18px;
}
.fee-img{
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.certificate-fee{
	margin-top: 10%;
}

.certi-title-fee{
	font-family: 'Open Sans', sans-serif;
	color: #333333;
	font-size: 20px;
	font-weight: bold;
}

.number-certi-fee{
	font-family: 'Open Sans', sans-serif;
	color: #000000;
	font-size: 15px;
}

.hr-blue-fee{
	width: 70%;
	color: #3399ff;
	height: 100%;
}

.hr-fee{
	width: 70%;
	height: 100%;
}

#block3-fee{
    background: #15181d;
    text-align: center;
}

#block3-fee h2{
    color: white;
    padding-top: 6%;
}

#block3-fee p{
    color: white;
}

#block3-fee form input{
    background: #15181d;
    width: 50%;
    margin-bottom: 2%;
    height: 70px;
    padding-left: 2%;
    color: gray;
    border: 1px solid #444957;
}

.submit-button-fee{
    background: #4285f4 !important;
    font-size: 30px;
    color: white !important;
    font-weight: bold;
}

@media all and (min-width: 360px){
	#fee-page{
		text-align: center;
	}

	.new-title-fee{
		font-size: 17px;
	}

	.input-fee input{
		width: 55%;
	}

	.down-fee button{
		width: 55%;
	}

	.fee-register{
		width: 55%;
	}
}

@media all and (min-width: 320px){
	#fee-page{
		text-align: center;
	}

	.new-title-fee{
		font-size: 17px;
	}

	.input-fee input{
		width: 55%;
	}

	.down-fee button{
		width: 55%;
	}

	.fee-register{
		width: 55%;
	}
}

@media all and (min-width: 720px){
	.number-certi-fee{
		text-align: left;
		width: 100%;
	}

	.certi-title-fee{
		text-align: left;
	}

	.hr-blue-fee,.hr-fee{
		margin-left: -25%;
		width: 80%;
	}

	/*.bound-certi-fee{
		padding-left: 15%;
	}*/
}

@media all and (min-width: 1240px){
	.fee-register{
		width: 30%;
	}

	.introduce-fee div:first-child,.introduce-fee div:nth-child(3),.introduce-fee div:nth-child(2){
		text-align: left;
	}

	.hr-blue-fee,.hr-fee{
		margin-left: -25%;
		width: 75%;
	}

}