@import url("https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,vietnamese");
body{
    font-family: 'Open Sans', sans-serif;
}

.navbar{
    border: none;
    padding-top: 2%;
    margin-left: 5%;
}
.navbar-nav{
    margin-left: 12%;
    width: 100%;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
    background: none;
    border: none;
}
.navbar-inverse .navbar-toggle{
    float: left;
    background: none;
    border: none;
}

.navbar-brand{
    padding-right: 0px;
}
.navbar-inverse .navbar-toggle .icon-bar{
    background: #cccccc;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
    background: none;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
    background: none;
    border: none;
}

.navbar-inverse{
    background: none;
}

.btn-blue{
    background: #0099ff;
    border-top: 2px solid black;
    border-radius: 0px;
    color: white !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
}

.btn-blue:hover{
    background: orange !important;
    color: black !important;
}

.navbar-inverse .navbar-nav li a{
    color: black;
    font-size: 15px;
    padding-left: 7px;
    padding-right: 7px;
}

.navbar-inverse .navbar-nav li a:hover {
    color: #4fb8e7;
    background: none;
}

.navbar-inverse .navbar-nav li a:focus{
    color: #4fb8e7;
    background: none;
}

.logo-header{
    margin-top: -12%;
}
.logo-header1{
    margin-top: -12%;
}

.block-search{
    margin-top:1%;
    margin-left: 5%;
}
.fa-search{
    margin-left: 2%;
    margin-top: 1%;
    font-size: 25px;
    color: gray;
}
@media (max-width: 1024px) {
    .logo-header1{
        width: 120%;
        margin-top: -7%;
    }
}
@media (max-width: 768px) {
    .logo-header{
        margin-top: -8%;
    }

    .btn-blue{
        margin-right: 5%;
    }
    .logo-header1{
        width: 120%;
        margin-top: -7%;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
        width: 80%;
    }

    .block-search{
        position: absolute;
        right: 27%;
        top: 55%;
    }
}
@media (max-width: 480px) {
    .navbar-inverse .navbar-brand{
        width: 51%;
    }
}

@media (max-width: 380px) {
    .navbar-inverse .navbar-brand{
        width: 45%;
    }

    .logo-header{
        width: 85%;
        margin-left: -10%;
    }
}
@media (max-width: 320px) {
    .logo-header{
        margin-top: -28%;
        margin-left: -6%;
    }
    .navbar-inverse .navbar-brand{
        width: 40%;
    }

    .logo-header{
        width: 100%;
        margin-left: -10%;
    }

    .btn-blue-mobile{
        margin-top: 4%;
    }

    .search{
        margin-top: 5%;
    }
}
@media (max-width: 720px) {
    .site-header{
        box-shadow: 10px 10px 10px #cccccc;
        -webkit-box-shadow: 0px 10px 12px 0px #cccccc;
    }

    .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
        padding-left: 2%;
    }

    .navbar-inverse{
        margin-left: 0%;
    }

    .btn-blue-mobile{
        background: #0c51a1;
        border-radius: 0px;
        color: white !important;
        padding: 3px 12px 3px 12px;
        font-size: 12px;
        margin-top: 2%;
    }

    .btn-blue-mobile:after{
        background: orange !important;
        color: black !important;
    }

    .logo-header{
        width: 76%;
        margin-top: -8%;
    }

    .search{
        margin-top:2%;
    }

    .navbar-nav{
        margin-left: 3%;
    }

    .navbar-inverse .navbar-brand{
        width: 48%;
    }
}

@media all and (min-width: 1240px){

    #myNavbar .navbar-nav {
        margin-left: 12%;
        width: 100%;
    }

    #search-header {
        margin-top: -4%;
        margin-left: 80%;
    }

    .block-search .search img {
        margin-left: 69%;
        margin-top: -42%;
    }
}