#img-footer{
	background-image: url("../img/footer/photo-footer.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-bottom: 0px;
	width: 100%;
	height: 260px;
	text-align: center;
	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
/*#img-footer:hover{
	 filter: none;
  -webkit-filter: grayscale(0);
}*/
#img-footer p{
	width: 89%;
	color: #ffffff;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4%;
	font-family: Helvetica;
	font-size: 37px;
}

#jb-footer{
	background-color: #363636;
	border-top: 3px solid #42b3e5;
}

#jb-footer p{
	margin-bottom: 4%;
	font-size: 14px;
}
#jb-footer .text3-1{
	font-size: 20px;
}
.text3-1{
	color: #999999;
	font-weight: bold;
}
.column-3 .register{
	height: 15%;
	width: 63%;
	background-color: #4285f4;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}
.register img{
	padding-right: 10%;
	margin-left: -10%;
	margin-top: -5%;
}
.column-1 p{
	font-family: Helvetica;
	font-size: 14px;
	color: #8e8e8e;
	font-weight: bold;
}
#jb-footer .contact{
	font-size: 20px;
}
.column-2 a{
	font-family: Helvetica;
	font-size: 14px;
	color: #8e8e8e;
	font-weight: bold;
}

.column-2 div{
	padding-bottom: 2%;
}
.column-3 p{
	font-family: Helvetica;
	font-size: 14px;
	color: #8e8e8e;
	font-weight: bold;
}
.column-3 input{
	padding-bottom: 2%;
    margin-bottom: 3%;
}
