@import url("https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,vietnamese");
#learn-page{
	padding: 0px;
}

.title-why{
	font-family: 'Open Sans', sans-serif;
	color: #090c1b;
	font-size: 40px;
}

.content-why{
	font-family: 'Open Sans', sans-serif;
	color: #000000;
	font-size: 15px;
	text-align: justify;
	padding-top: 5%;
}

.how-learn{
	margin-top: 4%;
}

.title-learn{
	font-family: 'Open Sans', sans-serif;
	color: #090c1b;
	font-size: 40px;
}

.content-how-learn{
	margin-top: 5%;
}

/*.avatar-learn ,.info-how-learn{
	margin-left: 5%;
}*/

.mooc-learn, .mentor-learn{
	font-family: 'Open Sans', sans-serif;
	color: #000000;
	font-size: 18px;
	text-align: justify;
	font-weight: bold;
}

.connect-learn{
	font-family: 'Open Sans', sans-serif;
	color: #000000;
	font-size: 15px;
	text-align: justify;
}

.here-learn{
	text-decoration: underline;
}

.three-learn ,.content-img-learn{
	margin-top: 5%;
}

.title-three-learn{
	text-align: center;
	color: #000000;
	font-size: 40px;
	font-family: 'Open Sans', sans-serif;
}

.img-three-learn{
	text-align: center;
}

.content-img-learn{
	text-align: center;
}

.img-text-learn img{
	height: 132px;
}

.img-text-learn div:nth-child(2),.img-text-learn div:nth-child(3),.img-text-learn div:nth-child(4){
	color: #000000;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
}

.img-text-learn div:nth-child(2){
	margin-top: 7%;
}