@import url("https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,vietnamese");
#news-page{
	padding: 0px;
	margin: 0px;
}
.img-news img{
	width: 100%;
	height: 100%
}

.introduce-news div:first-child{
	font-size: 40px;
	color: #0099ff;
	font-family: 'Open Sans', sans-serif;
}

.introduce-news div:nth-child(2){
	font-size: 15px;
	color: #000000;
	font-family: 'Open Sans', sans-serif;
	text-align: justify;
	width: 70%;
}

.menu-news{
	text-align: center;
	border: 3px solid #dbdbdb;
	height: 290px;
    padding-top: 2%;
    border-top: 15px solid #0099ff;
    position: absolute;
    right: 5%;
    top: 37%;
    background-color: white
}

.menu-news img{
	width: 90%;
}

.menu-news div:first-child{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: #000000;
	font-size: 18px;
	margin-bottom: 5%;
}

.menu-news a{
	font-family: 'Open Sans', sans-serif;
	color: #000000;
	font-size: 15px;
}

.menu-news a:hover{
	color: #3399ff;
}
.certificate-news{
	margin-top: 10%;
	text-align: center;
}

.certi-content-news div:nth-child(2){
	margin-top: 3%;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: #000000;
	font-weight: bold;
}

.certi-content-news div:nth-child(3),.certi-content-news div:nth-child(4){
	margin-top: 3%;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: #000000;
}

.certi-content-news div:nth-child(3){
	font-weight: bold;
}

.news-register-bound{
	background-color: #f4f5f8;
	padding-left: 20%;
	padding-top: 5%;
}

.news-register-bound div:first-child{
	font-size: 40px;
	color: #000000;
	font-family: 'Open Sans', sans-serif;
}

.news-register{
	width: 25%;
	border-left: 4px solid blue;
	margin-top: 3%;
}