@import url("https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,vietnamese");
.mentors-title{
	text-align: center;
}

.mentors-title div:first-child{
	font-family: 'Open Sans', sans-serif;
	color: #0099ff;
	font-size: 40px;
}

.mentors-title div:nth-child(2) a{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	background-color: #0099ff;
	border-top: 3px solid blue;
	width: 25%;
	margin-top: 3%
}

.mentors-title img{
	width: 10%;
	margin-top: 3%
}

.mentors-title div:nth-child(4){
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: #000000;
	margin-top: 3%;
}

.introduce-mentors{
	text-align: center;
}

.button-load-more{
	text-align: center;
	margin-top: 5%;
}

.button-load-more a{
	border: 2px solid #000000;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	width: 25%;
}

.mentors-register{
	display: inline-block;
	text-align: center;
	width: 100%;
	background-color: #35c2ea;
	margin-bottom: -5px;
}

.mentors-register div:first-child{
	width: 60%;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: #ffffff;
	display: inline-block;
	float: left;
	padding-left: 20%;
}

.mentors-register div:nth-child(2){
	width: 40%;
	float: left;
	display: inline-block;
	padding-right: 15%;
}

.mentors-register div:nth-child(2) a{
	border: 2px solid #ffffff;
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	background-color: #35c2ea;
	width: 45%;
}

.panel-group .panel{
	border: 0px solid white;
}

.panel-title{
	text-align: center;
}

.panel-title img{
	padding-right: 5%;
	padding-left: 5%;
}

.panel-title div{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: #000000;
	font-weight: bold;
}

.panel-body div:first-child{
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: #000000;
	font-weight: bold;
	text-align: center;
}
.panel-body{
	border: 1px solid #020202;
	
}
.panel-default>.panel-heading+.panel-collapse>.panel-body{
	border-top-color: #020202;
}
.panel-body a{
	float: right;
	padding-right: 2%;
}

.panel-body a:hover{
	text-align: center;
	color: #ffffff;
	background-color: #0099ff;
	border: 1px solid #c04129;
	width: 10px;
	height: 30px;
}
.name-ment{
	padding-top: 3%;
}
.panel-body div:nth-child(6){
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: #000000;
	text-align: justify;
}
.introduce-mentors{
	margin-top: 10%;
}

.infomation-mentors div:first-child img{
	height: 140px;
}

.infomation-mentors div:first-child img:active{
	filter: #4b4b4b; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

@media all and (min-width: 360px){
	.mentors-img-funix img{
		height: 180px;
		width: 100%;
	}

	.mentors-img-funix{
		margin-bottom: 0px;
	}

	#mentors-page {
		padding-top: 0px;
	}

	.mentors-title div:first-child{
		font-size: 25px;
	}

	.mentors-title div:nth-child(2) a{
		width: 40%;
	}

	.button-load-more a{
		width: 44%;
	}

	.mentors-register div:nth-child(2) a{
		width: 105%;
	}

	.mentors-register div:first-child{
		font-size: 18px;
		padding-left: 8%;
	}
}

@media all and (min-width: 320px){
	.mentors-img-funix img{
		height: 180px;
		width: 100%;
	}

	.mentors-img-funix{
		margin-bottom: 0px;
	}

	#mentors-page {
		padding-top: 0px;
	}

	.mentors-title div:first-child{
		font-size: 25px;
	}

	.mentors-title div:nth-child(2) a{
		width: 45%;
	}

	.button-load-more a{
		width: 50%;
	}

	.mentors-register div:nth-child(2) a{
		width: 105%;
	}

	.mentors-register div:first-child{
		font-size: 18px;
		padding-left: 8%;
	}
}

@media all and (min-width: 1240px){
	.mentors-title div:nth-child(2) a{
		width: 20%;
	}

	.button-load-more a{
		width: 20%;
	}

	.mentors-register div:first-child{
		font-size: 30px;
	}

	.mentors-register div:nth-child(2) a{
		width: 85%;
	}

	.mentors-img-funix img{
		height: 230px;
		width: 100%;
	}
}